{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "plugins": ["prettier", "import"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "printWidth": 80,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "all",
        "arrowParens": "always",
        "endOfLine": "auto"
      }
    ],
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always"
      }
    ]
  }
}
